

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">



</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
   
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
   <a class="navbar-brand" href="/userDashboard">
    <img src="http://res.cloudinary.com/jishan/image/upload/c_scale,w_1200/v1568698568/logo_transparent.png" alt="Logo" style="width:40px;">
  </a>
   <span style="color:white" class="navbar-text">
    We are changer
  </span>

     <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="logoutU"> Logout</a>
    </li>
 
  </ul>
   
</nav>
<br>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
     
             <div class="d-sm-flex align-items-center justify-content-center mb-4 text-center">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            {{!-- <button class="btn btn-info text-center" data-toggle="modal" data-target="#myModal"> Edit profile</button> --}}
            {{!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"  data-toggle="modal" data-target="#myModal"><i class="fas  fa-sm text-white-50"></i> Edit your profile</a> --}}
          </div>

             <div class="d-sm-flex align-items-center justify-content-center mb-4 text-center">
        
           <button class="btn btn-info text-center" data-toggle="modal" data-target="#myModal"> Edit profile</button>
            {{!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"  data-toggle="modal" data-target="#myModal"><i class="fas  fa-sm text-white-50"></i> Edit your profile</a> --}}
          </div>

          <!-- Content Row -->
        <form action="/updateU" method="POST">
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
{{#each data}}
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

      	<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="text" name="email" class="form-control" value="{{email}}" readonly >
					</div>

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="text" name="city" class="form-control" value="{{city}}">
					</div>
                      <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="text" name="state" class="form-control" value="{{state}}">
					</div>
                      <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="text" name="age" class="form-control" value="{{age}}">
					</div>

                      <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="text" name="mobile" class="form-control" value="{{mobile}}">
					</div>
                      <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="text" name="gender" class="form-control" value="{{gender}}">
					</div>
      </div>
{{/each}}
      <!-- Modal footer -->
       <div class="modal-footer">
           <button type="submit" class="btn btn-info">Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</form>

 <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Your Details</h6>
            </div>
            <div class="card-body">

              <div class="table-responsive text-center">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    {{#each data}}
                <tr>

                    <th>Username</th>
                    <th>{{username}}</th>

                </tr>

                    <tr>

                    <th>Email</th>
                    <th>{{email}}</th>

                </tr>
                
                    <tr>

                    <th>Mobile</th>
                    <th>{{mobile}}</th>

                </tr>
                
                    <tr>

                    <th>State</th>
                    <th>{{state}}</th>

                </tr>
                
                    <tr>

                    <th>City</th>
                    <th>{{city}}</th>

                </tr>
                {{/each}}

                    {{!-- <tr>
                       
                     
                      <th>Email</th>
                     
                         <th>User</th>
                          <th>City</th>
                           <th>State</th>
                            <th>Mobile</th>
                         
                    </tr>
                  </thead>
                 
                  <tbody>
                  {{#each data}}
                    <tr>
                      <th>{{email}}</th>
                       <th>{{username}}</th>
                        <th>{{city}}</th>
                       <th>{{state}}</th>
                       <th>{{mobile}}</th>

                     
                    </tr> {{/each}} --}}
                     
                  </tbody>
         
                </table>
                             {{#each data}}
          <p style="color:black;margin-bottom:0px">your referred link is <br> <span style="color:tomato"> https://ancient-forest-89719.herokuapp.com/resgistrationP/{{username}} </span></p>
          <a href="https://wa.me/?text=https://ancient-forest-89719.herokuapp.com/resgistrationP/{{username}} "><i style="font-size:30px;color:darkgreen" class="fab fa-whatsapp"></i></a>

          
          {{/each}} 
              </div>
            </div>
          </div>

   <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">your referred users will be displayed below</h6>
            </div>
            <div class="card-body">

              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                  
                    <tr>
                       
                     
                      <th>Email</th>
                     
                         <th>User</th>
                          <th>City</th>
                           <th>State</th>
                            <th>Mobile</th>
                         
                    </tr>
                  </thead>
                 
                  <tbody>
                  {{#each filteredD}}
                    <tr>
                      <th>{{email}}</th>
                       <th>{{username}}</th>
                        <th>{{city}}</th>
                       <th>{{state}}</th>
                       <th>{{mobile}}</th>

                     
                    </tr> {{/each}}
                     
                  </tbody>
                </table>
              </div>
            </div>
          </div>

 






        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; We Are Changer</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/chart-area-demo.js"></script>
  <script src="../js/demo/chart-pie-demo.js"></script>


